.list_numbered {
  counter-reset: listCounter;
}

.list_numbered .list__item:before {
  counter-increment: listCounter;
  content: counter(listCounter);
  display: block;

  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}
